@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HAHHAHA c'est pour tester le defilement </h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
    <h1 class="display-4">Bienvenue dans la page de recuperation d'email</h1>
</div>
